@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header-hero-wrapper {
    background: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 18px;
}

.header-logo {
    height: 100px;
    width: auto;
    margin-left: 50px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin-right: 0;
    padding: 0;
    gap: 10px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.motions-lab-card {
    align-self: center;
    margin-right: 20px;
}

.motions-lab-card p {
    display: flex;
    justify-content: center;
    text-align: ce;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: #E5E7EB ;
}

.sign-up-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 10px;
    border: 0;
}

.hero-image {
    height: 500px;
    width: auto;
}

.cards-wrapper {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid #3882F6;
}

.card-subtext {
    text-align: center;
    margin-top: -15px;
}